# datasets
data/
dataset/
datasets/
*.json

!vendor/vllm/**/*.json
vendor/vllm/

# model / weights
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# logs / cache
logs/
*.log
__pycache__/
.cache/

# env
tkdgjs/
.venv/
.env
vendor.zip
